Note%20to%20Ryan.rtf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# apple filesystem files
.DS_Store

# Fritzing files
*.fzz
**/fritzing_files

# VS Code files
*/.vscode*
*.vscode*

NotetoRyan.rtf
MIDI_examples/OSC_MIDI_oneKey_improviser/arduino_secrets.h
MIDI_examples/AppleMIDI_simple/arduino_secrets.h
